@import "shared/styles";

.button {
  @include type-main;

  transition: 0.3s;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 0 20px 0 20px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 1px black;

  &:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
  }
}
